@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p class="lead">This is a quick solution to the Gilded Rose code kata.  This was a really fun and enjoyable coding test.  I had my first child recently and have been spending a majority of my time with family, otherwise I would have put a lot more time into this.</p>

<p class="lead">Inventory Manager is built on ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>

<ul>
    <li>Frontend: Built in Visiaul Studio 2017 Community using MVC, Bootstrap, and CSS.</li>
    <li>Database: SQL Server Management Studio 2012</li>
    <li>Data Access Layer: Entity Framework via database first.</li>
    <li>Form Validation: Data Annotations via Partial Models.</li>
    <li>Cross Browser Compatability:  Works in all computer browsers.</li>
    <li>Cross Device Compatability:  Works on all computers, all tablets, and all smart phones.</li>
    <li>Scheduled Job: Quartz Scheduler, this allows everything to be run in one application. Could store the job time in a SQL Table and then have a user interface to manage when it is scheduled to run.</li>

    <li>Normally I would write CSS to style the application, did not have that much time.</li>
    <li>There should also be some messaging letting the user know their data was Saved.</li>
    <li>Would use more JQuery for a more interactive UI, if required.</li>
    <li>Keeping as close to vanilla MVC as possible allows for simplicity in coding and is easier for developers to come onto the project.</li>
</ul>

<h4>Limitations</h4>
<ul>
    <li>Connection string is not encrypted, security vulnerability.</li>
    <li>If application ever reaches several hundreds of millions of records it may slow down.</li>
    <li>Requires internet connection and hosting.</li>
</ul>