@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Andrew Thompson<br />
    West Mifflin, PA 15122<br />
    Phone: 412.728.0609
</address>

<address>
    <a href="https://www.linkedin.com/in/andrewthomps0n/" target="_blank">Linkedin</a>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:andrew.l.thompson@gmail.com">andrew.l.thompson@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:andrew.l.thompson@gmail.com">andrew.l.thompson@gmail.com</a>
</address>