################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GildedRose/obj/Debug
/GildedRose.Test/obj/Debug
