<form class="name-form">
  <mat-form-field class="name-full-width" appearance="fill">
    <mat-label>Request Item By Name</mat-label>
    <input
      type="text"
      placeholder="Type an item name and go to details"
      aria-label="Item Name"
      matInput
      [formControl]="nameControl"
      [matAutocomplete]="auto"
    />
    <mat-icon matSuffix>search</mat-icon>
    <mat-autocomplete
      autoActiveFirstOption
      #auto="matAutocomplete"
      (optionSelected)="goToItem($event)"
    >
      <mat-option *ngFor="let option of filteredItems | async" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" aria-label="Elements">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let row">{{ row.name }}</td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef>Category</th>
      <td mat-cell *matCellDef="let row">{{ row.category }}</td>
    </ng-container>

    <ng-container matColumnDef="daysLeft">
      <th mat-header-cell *matHeaderCellDef>Sell In</th>

      <td mat-cell *matCellDef="let row">{{ getDaysLeft(row) }}</td>
    </ng-container>

    <ng-container matColumnDef="quality">
      <th mat-header-cell *matHeaderCellDef>Quality</th>
      <td mat-cell *matCellDef="let row">{{ row.quality }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      class="item-row"
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      [routerLink]="['/details', row.id]"
    ></tr>
  </table>
</div>
