<h1>Welcome to the Guilded Rose</h1>

<p>&nbsp;</p>

<p>Using our inventory system you can:</p>
<div>
  <ul>
    <li>
      <a href="/inventory">View our inventory</a>. From the inventory page you can:
      <ul>
        <li>Perform aging to automatically update our inventory items' sell in and quality values</li>
        <li>Filter the inventory to show only items ready for the trash bin</li>
      </ul>
    </li>
    <li><a href="/inventory-history">View our inventory history</a> which provides a running audit log for our inventory</li>
  </ul>
</div>
