@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to the Gilded Rose</h1>
    <p class="lead">We are a small inn with a prime location in a prominent city run by a friendly innkeeper named Allison.</p>

    <p>Currently, this web application supports inventory management using AngularJS 4.  Click the Product Inventory button to begin.</p>
    <p><a href="~/Product/Product" class="btn btn-primary btn-lg">Product Inventory</a></p>
</div>
